body {
    font-family: Arial, sans-serif;
}

#game-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.column {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sound-box, .word-box {
    margin: 10px;
    padding: 15px;
    background: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.sound-box.matched, .word-box.matched {
    background: #c8e6c9;
}

img.sound-icon {
    width: 24px;
    height: 24px;
}
#sure-selector {
    width: 100%;
    max-width: 300px;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none; /* Bazı tarayıcılar için */
}
